*
{
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
}

.wrap
{
    margin: 10px;
    width: auto;
}

#data > div
{
    display: flex;
    flex-direction: column;   
    border:  green 1px solid;
}